/* Add your existing styles here */

.body {
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    max-width: 1200px;
}

.jumbotron {
    background-color: #f4d71f;
    color: #080808;
}

#left-column {
    background-color: #06dcfd;
    padding: 30px;
    border-radius: 40px;
}

#searchBtn {
    background-color: #080808;
    width: 50%;
}
#clearBtn{
    background-color: darkgrey;
    border-color: darkgray;
    width: 50%;
}

#recent-searches {
    background: none;
    color: #007bff;
    font-style: bold;
}

#presets button {
    width: 100%;
    background: orange;
    color: #080808;
}

#Austin, #Chicago, #New, #Orlando, #San, #Seattle, #Denver, #Atlanta {
    width: 40%;
}

#current{
    background-color: #080808;
    color: white;
    padding: 60px;
    border-radius: 20%;
}

#fiverCards{
    background-color: #495057;
    border-radius: 10%;
}





